<header>

    <div id="intro-section" class="view">

        <div class="mask d-flex justify-content-center align-items-center">

            <div class="container px-md-3 px-sm-0">

                <div class="row wow fadeIn">

                    <div class="col-md-12 mb-4 white-text text-center">
                        <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">iReport World</h3>
                        <hr class="hr-light my-4 w-75">
                        <h4 class="subtext-header mt-2 mb-4">Report now, and save a live.</h4>


                    </div>

                </div>

            </div>

        </div>


    </div>


</header>

<main>

    <section id="burgers">


        <div class="container">


            <div class="row row-content align-items-center">

                <div class="col-sm col-md flex-first">

                    <div class="image-wrapper">
                        <img class="mx-auto d-block rounded-circle" src="/assets/img/ireport.png" width="300"
                            alt="Burger" />
                    </div>


                </div>


            </div>



            <div class="row row-content align-items-center">

                <div class="col-md-6 col-md-offset-6" style="margin:auto">
                    <div class="card mx-2 mt-4 shadow">
                        <div class="card-body">
                            <h2 class="card-title">Let's Report!</h2>

                            <form class="create-form">

                                <div class="form-group">
                                    <label for="event_report">What's happening?</label>
                                    <input class="form-control" type="text" id="event_report" name="name"
                                        placeholder="Car accident two people injured">

                                </div>

                                <button type="submit" class="btn mt-3 mx-2 center"
                                    style="background-color:#f40606; color:whitesmoke">Report Now</button>

                            </form>

                        </div>
                    </div>

                </div>

            </div>



            <div class="d-md-flex justify-content-between report-list">
                <div class="mb py-5">
                    <div class="card m-2 p-3 h-100 shadow">
                        <h2>Report List</h2>
                        <ul class="list-group">
                            {{#each ireports}}
                            {{#unless solved}}
                            <li class="col-xs-3 list-group-item">
                                <div class="row">

                                    <img src="/assets/img/ireport.png" width="35px" height="30px">
                                    <p class="ml-3">{{event_name}}</p>


                                    <div class="col float-right">
                                        <button class="btn change-solved ml-3"
                                            style="background-color:#f48c06; color:whitesmoke;" data-id="{{id}}"
                                            data-newsolved="1">
                                            Solve
                                        </button>
                                    </div>
                                </div>

                            </li>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>


                <div class=" mb py-5">
                    <div class="card m-2 p-3 h-100 shadow">
                        <h2>Solved Case</h2>
                        <ul class="list-group">
                            {{#each ireports}}
                            {{#if solved}}
                            <li class="col-xs-3 list-group-item">
                                <div class="row">
                                    <img src="/assets/img/ireport.png" width="35px" height="30px">
                                    <p class="ml-3">{{event_name}}</p>

                                </div>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>


    </section>

</main>